{% load i18n %}
<p>
    {% if num_errors == 1 %}
        {% blocktrans %}An item on this page have been updated by another user while you were editing it.{% endblocktrans %}
    {% else %}
        {% blocktrans with num_errors=num_errors %}{{ num_errors }} items on this page have been updated by another user while you were editing it.{% endblocktrans %}
    {% endif %}
    {% blocktrans %}<a href="">Refresh</a> the page and apply your changes again.{% endblocktrans %}
</p>
<p>
    {% if num_errors == 1 %}
        {% trans "The outdated item is" %} {{ errors|first }}.
    {% else %}
        {% trans "The outdated items are" %}
        {{ errors|slice:"0:-1"|join:", " }} {% trans "and" %} {{ errors|last }}.
    {% endif %}
</p>